<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Disease Diagnosis</title>
    {% load static %}  <!-- Add this line to load static files -->
    <link rel="stylesheet" href="{% static 'diagnosis/css/styles.css' %}">
</head>
<body>
    <header>
        <h1>AI Disease Diagnosis Tool</h1>
        <nav>
            <ul>
                <li><a href="{% url 'index' %}">Home</a></li>
                <li><a href="#">Upload Image</a></li>
                <li><a href="#">About</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        <!-- Content of each page will go here -->
        {% endblock %}
    </main>

    <footer>
        <p>© 2024 AI Disease Diagnosis. All rights reserved.</p>
    </footer>
</body>
</html>
